
# i believe bc anyone else can run npm init and it'll install our dependencies from the package.json file
/node_modules/

# i believe bc this is created by next build or next dev anyways??
/.next/

.env.local

